services:
  kotonoha:
    container_name: kotonoha_app
    build:
      context: /home/github-runner/actions-runner/_work/Kotonoha/Kotonoha
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    env_file:
      - .env.production
    extra_hosts:
      - "host.docker.internal:host-gateway"
