# version: "3.8"

services:
  kotonoha:
    container_name: kotonoha_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    env_file:
      - .env.production
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # environment:
    #   NODE_ENV: production
