@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-lora: 'Lora', serif;
    --font-surfer: 'Original Surfer', cursive;
    --color-primary: #7F13EC;
    --color-primary-hover: #6B10C6;
    --color-bg-light: #F7F6F8;
    --color-bg-dark: #191022;
    --color-surface-dark: #2D1B3E;
    --color-text-secondary: #AD92C9;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 8px;
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar {
  background: rgba(15, 15, 20, 0.9)
}

.dark ::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(139, 92, 246, 0.85),
    rgba(91, 33, 182, 0.85)
  );
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(167, 139, 250, 1),
    rgba(124, 58, 237, 1)
  );
}