name: CD - Deploy to Home Server

on:
  workflow_run:
    workflows: ["CI - Test before merge"]
    types:
      - completed

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'

    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build & Deploy
        run: |
          docker compose down || true
          docker compose build --no-cache
          docker compose up -d
