name: CD - Deploy to Home Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy on server
        run: |
         cd /home/github-runner/apps/kotonoha
         docker compose up -d --build
