name: CD - Deploy to Home Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build & Deploy
        run: |
          docker compose down || true
          docker compose build --no-cache
          docker compose up -d